---
title: stubbing and verification
sidebar:
  order: 2
  label: 41.8.2 stubbing and verification
---

